.about {
	display: flex;
	height: 100vh;
}
.about-left {
	flex: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.about-layout {
	width: 60%;
	height: 70vh;
	background-color: #333;
	position: absolute;
	top: 50px;
	left: 75px;
	border-radius: 20px;
}
.about-img {
	width: 60%;
	height: 70vh;
	object-fit: cover;
	position: absolute;
	border-radius: 20px;
}
.about-right {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-right: 50px;
}
.about-award-img {
	width: 120px;
	height: 120px;
	border-radius: 20px;
}
.about-title {
	font-weight: 400;
	text-align: left;
}

.about-sub {
	margin: 20px 0px;
}

.about-desc {
	font-weight: 300;
      text-align: justify;
}

.about-award {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-award-texts {
	width: 70%;
      text-align: justify;
}

.about-award-title {
	font-weight: bold;
	color: #555;
	margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
	.about {
		flex-direction: column;
		text-align: center;
		margin-top: 50px;
	}

	.about-left {
		width: 90%;
            margin: 10px auto;
	}
      .about-img {
            width: 95%;
            height: 50vh;
            object-fit: cover;
            position: absolute;
            border-radius: 20px;
		right: 0px;
      }
      .about-layout {
            width: 95%;
            height: 50vh;
            background-color: #333;
            position: absolute;
            top: -35px;
            left: 0px;
            border-radius: 20px;
      }
	.about-card {
		height: 30vh;
	}
      .about-title {
            text-align: center;
      }
	.about-card.bg,
	.about-award {
		display: none;
	}

	.about-right {
		padding: 20px;
            text-align: center;
	}
}
